.bs-callout.bs-callout-info.idb-help(id="contact")
  %h1(class="help-head" )
    Contact the
    %a(href="http://researchdataservice.illinois.edu/about/" target="_blank" )Research Data Service Team
  %hr
  %h3 We're data publishing experts and we're here to help!

  .container-fluid
    = form_tag(help_mail_path, class: "form-horizontal", role: "form") do

      %input(type="text" name="help-nobots" id="help-nobots" style="display:none;" )

      .form-group
        %label(for="help-name" class="control-label col-sm-2" ) Name
        .col-sm-8
          -if current_user
            %input(type="text" name="help-name" id="help-name" class="form-control help" value="#{current_user.name}" )
          -else
            %input(type="text" name="help-name" id="help-name" class="form-control help" placeholder="[Your Name]")

      .form-group.required
        %label(for="name" class="control-label col-sm-2" ) Email
        .col-sm-8
          -if current_user
            %input(type="email" name="help-email" id="help-email" class="form-control help" value="#{current_user.email}" required )
          -else
            %input(type="text" name="help-email" id="help-email" class="form-control help" placeholder="[Your Email Address]" required )

      .form-group
        %label(for="help-topic" class="control-label col-sm-2" ) Topic
        .col-sm-8
          %select(name="help-topic" id="help-topic" class="form-control help" )
            %option{value: "No Selection Made" } Please Select ...
            %option{value: "Depositing Data"} Depositing Data
            %option{value: "Delaying Publication (Embargo)"} Delaying Publication (Embargo)
            %option{value: "Finding Data"} Finding Data
            %option{value: "Feeback"} Feedback
            %option{value: "Other"} Other

      .form-group
        %label(for="help-message" class="control-label col-sm-2" ) Message
        .col-sm-8
          %textarea(rows="6" name="help-message" id="help-message" class="form-control help")
      .row
        .col-sm-2.col-sm-offset-8
          %button(type="button" class="btn btn-danger btn-block" onclick="clear_help_form" ) Cancel
        .col-sm-2
          %button(type="submit" class="btn btn btn-success btn-block") Send