.bs-callout.bs-callout-info.idb-help(id="contact")
  %h1(class="help-head" ) Contact Us
  %ul
    %li
      %p
        %span(class="metadata-label" ) visit:
        310-312 Main Library | 1408 W Gregory Dr | Urbana, IL 61801 USA
      %p
        %span(class="metadata-label" ) call:
        (217) 300-3513
      %p
        %span(class="metadata-label" ) email:
        researchdata [at] library [dot] illinois [dot] edu