.bs-callout.bs-callout-info.idb-help(id="fix")
  %h1 Fixing an error in your published dataset files
  %hr
  %ul
    %li
      %p
        What do you do if you realize that you need to correct something in a dataset you’ve already published? Because the Illinois Data Bank is designed for deposit-ready data, the process for making changes to files in a published dataset will require that you
        %a(href="#top" ) contact us
        so that we can work with you to create a new version of your dataset. Please get in touch so that we can discuss your specific needs and resolve the issue as quickly as possible.
