.bs-callout.bs-callout-info.idb-help(id="fix")
  %br
  %hr
  %h1 Changing, Updating, or Adding Files to Deposited Datasets
  %hr
  %ul
    %li
      %p
        What do you do if you realize you need to correct an error in a dataset you've already deposited? Or what if you have created a helpful documentation file that you want to add to make it easier for others to understand your dataset? Even though the Illinois Data Bank is designed for deposit-ready data, we are available to discuss any situation you may be in where you would like to create a new version of your dataset. Please
        %a(href="#top" ) contact us
        so that we can discuss your situation and needs.
