.row
  .col-md-2
    .bs-sidebar.hidden-print.affix.idb-nav(role="complementary" )
      %ul(class="idb-nav bs-sidenav" )
        %li(class="nav-item current" )
          %a(href="/help" ) Help Center
        %li(class="nav-item" )
          %a(href="#license") Copyright and Licensing
        %li(class="nav-item" )
          %a(href="#other") Topic
  .col-md-10
    =yield