%div(id="wrapper")
  %div(id="sidebar-wrapper")
    %ul(class="sidebar-nav" )
      %li(class="sidebar-brand" )
        %a(href="/help") Select a Help Topic
      %li
        %a(href="#contact" ) Contact Us
      %li
        %a(href="#start" ) Getting Started
      %li
        %a(href="#doi" ) What is a DOI?
      %li
        %a(href="#embargo") Delaying Publication
      %li
        %a(href="#license") Licensing
      %li
        %a(href="#fix") Changing, Updating, or Adding Files

  %div(id="page-content-wrapper")
    .row
      .col-lg-12
        %h1(class="text-center" ) How can we help you?
        =yield