%div(id="wrapper")
  %div(id="sidebar-wrapper")
    %ul(class="sidebar-nav" )
      %li(class="sidebar-brand" )
        %a(href="/help") Select a Help Topic
      %li
        %a(href="#contact" ) Contact Us
      %li
        %a(href="#start" ) Getting Started
      %li
        %a(href="#embargo") Delaying Publication of your dataset
      %li
        %a(href="#license") Licensing your dataset
      %li
        %a(href="#fix") Fixing an error in your published dataset files

  %div(id="page-content-wrapper")
    .container-fluid
      .row
        .col-lg-12
          %h1(class="text-center" ) How can we help you?
          =yield