<div class="indent">
    <h2>What is copyright?</h2>
    <p>
      Copyright is a property right in an original work fixed in any tangible medium of expression giving the holder the
      exclusive right to reproduce, adapt, distribute, perform, and display the work.<a href='#note_1'><sup>1</sup></a>
    </p>
  
  
    <h2>What is a license?</h2>
    <p>
      A license is a legal instrument for a rights holder to permit a second party to do things that would otherwise
      infringe on the rights held.<a href='#note_2'><sup>2</sup></a>
    </p>
  
  
    <h2>How does copyright law apply to research data?</h2>
    <p>Datasets are complex objects, and understanding how copyright law applies to datasets is similarly complex.
      Copyright protection does not extend to "facts", and so what researchers often view as their "raw" data are in the
      public domain. Therefore, dataset authors typically cannot claim copyright for raw data. Copyright can apply to
      aspects of a dataset for which an author made creative or editorial decisions about how the raw data is expressed.
      For example, the manner in which data are selected and arranged may be copyrightable. Creators may be able to
      claim copyright over any visualizations, figures, charts, graphs, and other forms of "processing" of research data
      as well.</p>
    <p>When researchers publish datasets in the Illinois Data Bank the license they assign to their dataset applies only
      to the copyrightable content of the submission. The raw data and any other part of the dataset submission that is
      a part of the public domain cannot be licensed.</p>
  
  
    <h2>Why license research data?</h2>
    <ul>
      <li>
        <p>To mitigate legal uncertainty for downstream users.</p>
      </li>
      <li>
        <p>To control the way you participate in data sharing.</p>
      </li>
    </ul>
  
  
    <h2>For more information</h2>
    <div class="indent">
      <span id="note_1"/>
        <p>
          Ball, Alex. 2014. 'How To License Research Data'. Digital Curation Centre.
          <a href='http://www.dcc.ac.uk/resources/how-guides/license-research-data'>http://www.dcc.ac.uk/resources/how-guides/license-research-data.</a>
        </p>
      
      <span id="note_2"/>
        <p>
          Carroll, Michael W. 2015. 'Sharing Research Data And Intellectual Property Law: A Primer'. PLOS Biology 13
          (8): e1002235.
          <a href='https://doi.org/10.1371/journal.pbio.1002235'>doi:10.1371/journal.pbio.1002235.</a>
        </p>
      
      <span id="note_3"/>
        <p>
          RDA-CODATA Legal Interoperability Interest Group. 'Legal Interoperability of Research Data: Principles and
          Implementation Guidelines.'
          <a href="http://www.rd-alliance.org/sites/default/files/attachment/Legal%20Interoperability%20Principles%20and%20Implementation%20Guidelines_Final.pdf">http://www.rd-alliance.org/sites/default/files/attachment/Legal%20Interoperability%20Principles%20and%20Implementation%20Guidelines_Final.pdf</a>.
        </p>
      
      <span id="note_4"/>
        <p>
          Urbana Campus of the University of Illinois. 'Illinois Copyright Policy.'
          <a href="http://copyright.illinois.edu/">http://copyright.illinois.edu/</a>.
        </p>
      
      <span id="note_5"/>
        <p>University of Illinois. 'The General Rules Concerning University Organization and Procedure,' in particular
          Articles II and III.
          <a href="http://www.bot.uillinois.edu/general-rules">http://www.bot.uillinois.edu/general-rules</a>.
        </p>
      
    </div>
    <hr/>
    <p>
      <sup class="nudge-left-12">1</sup>
      Black's Law Dictionary 10th Edition, 2009.
    </p>
    <p>
      <sup class="nudge-left-12">2</sup>
      Ball, Alex. 2014. 'How To License Research Data'. Digital Curation Centre.
      <a href='http://www.dcc.ac.uk/resources/how-guides/license-research-data' target='_blank'>http://www.dcc.ac.uk/resources/how-guides/license-research-data</a>
    </p>
  
</div>