.bs-callout.bs-callout-info.idb-help(id="license")
  %h1 Research Data Copyright and Licensing
  %h3 Basic information about intellectual property rights and how they apply to sharing research data.
  %hr

  %p(class="metadata-note")
    The material in this section is for informational purposes only and not for the purpose of providing legal advice.

  %ul
    %li
      %h2 What is copyright?
      %p
        Copyright is a property right in an original work fixed in any tangible medium of expression giving the holder the exclusive right to reproduce, adapt, distribute, perform, and display the work.
        %sup 1
    %li
      %h2 What is a license?

      %p
        A license is a legal instrument for a rights holder to permit a second party to do things that would otherwise infringe on the rights held.
        %sup 2

    %li
      %h2 How does copyright law apply to research data?

      %p Datasets are complex objects, and understanding how copyright law applies to datasets is similarly complex. Copyright protection does not extend to “facts”, and so what researchers often view as their “raw” data are in the public domain. Therefore, dataset authors typically cannot claim copyright for raw data. Copyright can apply to aspects of a dataset for which an author made creative or editorial decisions about how the raw data is expressed. For example, the manner in which data are selected and arranged may be copyrightable. Creators may be able to claim copyright over any visualizations, figures, charts, graphs, and other forms of “processing” of research data as well.
      %p When researchers publish datasets in the Illinois Data Bank the license they assign to their dataset applies only to the copyrightable content of the submission. The raw data and any other part of the dataset submission that is a part of the public domain cannot be licensed.

    %li
      %h2 Why license research data?
      %ul
        %li
          %p &bull; To mitigate legal uncertainty for downstream users.
        %li
          %p &bull; To control the way you participate in data sharing.
    %li
      %h2 For more information
      %ul
        %li
          %p
            Ball, Alex. 2014. 'How To License Research Data’. Digital Curation Centre.
            %a(href="http://www.dcc.ac.uk/resources/how-guides/license-research-data") http://www.dcc.ac.uk/resources/how-guides/license-research-data.
        %li
          %p
            Carroll, Michael W. 2015. 'Sharing Research Data And Intellectual Property Law: A Primer'. PLOS Biology 13 (8): e1002235.
            %a(href="http://dx.doi.org/10.1371/journal.pbio.1002235")doi:10.1371/journal.pbio.1002235.
      %hr
      %p
        %sup 1
        Black’s Law Dictionary 10th Edition, 2009.
      %p
        %sup 2
        Ball, Alex. 2014. 'How To License Research Data’. Digital Curation Centre.
        %a(href="http://www.dcc.ac.uk/resources/how-guides/license-research-data" target="_blank" ) http://www.dcc.ac.uk/resources/how-guides/license-research-data