.bs-callout.bs-callout-info.idb-help(id="when_to_publish")
  %br
  %hr
  %h1 When Should I Publish My Dataset?
  %hr
  %ul
    %li
      %p
        We normally recommend deposit of datasets associated with a publication in the window after peer review (in case reviewers suggest revisions that would effect the data), but before final publication so the DOI for the dataset can be provided and published along with the article text. Research Data Service staff are happy to work through other scenarios with you if you would like to
        =succeed "." do
          %a(href="/help#contact")request a consultation