.row(id="help-layout")
  %nav(class="col-xs-3 bs-docs-sidebar")
    %ul(class="nav nav-stacked fixed" id="sidebar")
      %li
        %a(href="#top" )
          %strong File Upload APIs
      %li
        %a(href="#api_upload_simple") Simple
      %li
        %a(href="#api_upload_complex") Complex

  .col-xs-9
    %h1 File Upload APIs
    = render partial: 'overview'
    = render partial: 'simple'
    = render partial: 'complex'