- if (can? :edit, @dataset)
  .idb-dashboard.panel.panel-warning
    -#.panel-heading
    -#  %span(class="metadata-label" )Dataset Dashboard
    .panel-body
      .row
        .col-md-3.col-md-offset-3
          %button(type="button" class="btn btn-success update save-button btn-block" id="save-exit-button")
            Save & Exit
        .col-md-3
          %button(type="button" class="btn btn-primary update save-button btn-block" id="update-save-button")
            Save & Review
        .col-md-3
          - if @dataset.publication_state == Databank::PublicationState::DRAFT
            = link_to(dataset_path(@dataset.key), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn idb btn-danger btn-block") do
              %span(class="glyphicon glyphicon-trash" )
              Delete
          -else
            %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
              %span(class="glyphicon glyphicon-ban-circle" )
              Cancel