- if (can? :edit, @dataset)
  .row
    .col-md-3.col-md-offset-9
      %button(type="button" class="btn btn-primary update save-button btn-block" id="update-save-button")
        Save & Continue
        %span(class="glyphicon glyphicon-triangle-right" )
      %button(type="button" class="btn btn-info update save-button btn-block" id="save-exit-button")
        %span(class="glyphicon glyphicon-pushpin" )
        Save & Exit
      - if @dataset.publication_state == Databank::PublicationState::DRAFT
        = link_to(dataset_path(@dataset.key), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn idb btn-danger btn-block") do
          %span(class="glyphicon glyphicon-trash" )
          Delete
      -else
        %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
          %span(class="glyphicon glyphicon-ban-circle" )
          Cancel