.row
  .col-md-9
    .deposit-agreement-warning
      %br
      %span(class="glyphicon glyphicon-alert" )
      You must agree to the Deposit Agreement before depositing data into Illinois Data Bank.
  .col-md-3(id="show-agreement-modal-link")
    %br
    %button(type="button" class="btn btn-warning deposit-agreement-btn" data-toggle="modal" data-target="#agreement")
      %span(class="glyphicon glyphicon-check" )
      Deposit Agreement
    %button(type="button" class="btn btn-danger" name="cancel" onclick='window.location = "/"' )
      %span(class="glyphicon glyphicon-ban-circle" )
      Cancel