#!/usr/bin/env bash
# idb_start.sh
# script to stop databank and dependencies in the local development environment
# to be run by the service user from the context of the databank root directory

bundle exec passenger stop
bundle exec rake sunspot:solr:stop

if [ -f tmp/pids/cantaloupe.pid.txt ]; then
    echo Stopping Cantaloupe ...
    CANTALOUPE_PID=$(cat tmp/pids/cantaloupe.pid.txt)
    kill $CANTALOUPE_PID
    rm -f tmp/pids/cantaloupe.pid.txt
else
    echo 'cantalopue pid not found'
fi

rabbitmqctl stop

if [ -f tmp/pids/rabbitmq.pid.txt ]; then
    rm -f tmp/pids/rabbitmq.pid.txt
else
    echo 'rabbitmq pid not found'
fi

echo Illinois Data Bank Stopped




