<!-- Modal -->
<div class="modal fade" id="deposit" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <p class="ds-paragraph"><%= @publish_modal_msg.html_safe %></p>
      </div>

      <div class="modal-footer container-fluid">
        <div class="idb-callout">
          <h2>Publishing temporarily disabled</h2>
          <em>email or instant message Colleen Fallaw (mfall3@illinois.edu) for more information or updates</em>
          <br/>
        </div>
        <br/>

        <button onclick='window.location = "/datasets/<%=@dataset.key%>/publish"', type="button" disabled class="btn btn-primary" data-dismiss="modal" id="login-button">
          <span class="glyphicon glyphicon-send"></span> Publish
        </button>

        <button onclick='window.location = "/help"', type="button" class="btn btn-success" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-question-sign"></span> Get Help
        </button>

        <button onclick='window.location = "/datasets/<%=@dataset.key%>"', type="button" class="btn btn-danger" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>
