.idb-dashboard.panel.panel-warning
  -#.panel-heading
  -#  %span(class="metadata-label" )Dataset Dashboard
  .panel-body
    .deposit-agreement-warning
      %span(class="glyphicon glyphicon-alert" )
      You must agree to the Deposit Agreement before depositing data into Illinois Data Bank.
    .row
      .col-md-6
        %span(class="glyphicon glyphicon-eye-open" )
        %span(class="metadata-label" ) Visibility:
        = @dataset.visibility
        %br
        %span(class="glyphicon glyphicon-triangle-right" )
        %span(class="metadata-label" ) Progress:
        Describe the dataset here, then save this draft description to upload files next.  You will continue to be able to edit these values.

      .col-md-2(id="show-agreement-modal-link")
        %button(type="button" class="btn btn-warning deposit-agreement-btn btn-block" data-toggle="modal" data-target="#agreement")
          %span(class="glyphicon glyphicon-check" )
          Deposit Agreement

      .col-md-2
        %button(type="button" class="btn btn-success save-button btn-block new-save" id="new-exit-button")
          Save & Exit

      .col-md-2(class="new-save-button")
        %button(type="button" class="btn btn-primary btn-block new-save" id="new-save-button")
          Save & Upload Files

      .col-md-2
        %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
          %span(class="glyphicon glyphicon-ban-circle" )
          Cancel
