- if (can? :edit, @dataset)
  .idb-dashboard.panel.panel-warning
    -#.panel-heading
    -#  %span(class="metadata-label" )Dataset Dashboard
    .panel-body
      -if @completion_check != 'ok'
        .completion-warning
          %span(class="glyphicon glyphicon-alert" )
          = @completion_check
      .row
        .col-md-9
          %span(class="glyphicon glyphicon-eye-open" )
          %span(class="metadata-label" ) Visibility:
          = @dataset.visibility
          %br
          %span(class="glyphicon glyphicon-triangle-right" )
          %span(class="metadata-label" ) Progress:
          - if @dataset.publication_state == Databank::PublicationState::DRAFT || (can? :manage, @dataset)
            Edit the dataset description and file set as needed, then save to review before publishing.  You will be able to come back here to edit.
          - else
            You can edit the description for the dataset to correct an error, but you would need to contact the
            %a(href="/help#contact" )Research Data Service
            if there is an error in the files that needs to be corrected.
        .col-md-1
          %button(type="button" class="btn btn-primary update save-button btn-block" id="update-save-button")
            %span(class="glyphicon glyphicon-save-file" )
            Save
        .col-md-1
          %button(type="button" id="show-agreement-modal-link" class="btn btn-success deposit-agreement-btn btn-block" data-toggle="modal" data-target="#agreement")
            %span(class="glyphicon glyphicon-check" )
            Agree
        .col-md-1
          - if @dataset.publication_state == Databank::PublicationState::DRAFT
            = link_to(dataset_path(@dataset.key), method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-block") do
              %span(class="glyphicon glyphicon-trash" )
              Delete
          - elsif (can? :manage, @dataset)
            %button(type="button" class="btn btn-danger btn-block" )
              Tombstone
          -else
            %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
            %span(class="glyphicon glyphicon-ban-circle" )
            Cancel