<!-- Modal -->
<div class="modal modal-lg fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <%= render partial: 'deposit_agreement', :layout => false %>
  </div>
</div>
