.modal.fade(id="downloadLinkModal")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %span(class="metadata-label text-right" ) Custom Zip Download Link:
        %button(class="close" data-dismiss="modal")
          &times;
      .modal-body
        .download-link
