.modal.fade(id="downloadLinkModal")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
      .modal-body
        .row
          .col-md-4
            %span(class="metadata-label text-right" ) Custom Zip Download Link:
          .col-md-8
            .download-link
