.modal.fade(id="downloadLinkModal")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
      .modal-body
        .download-link
