-if ( params[:action]=='new' || (can? :manage, @dataset) || ((can? :edit, @dataset) && ([Databank::PublicationState::METADATA_EMBARGO, Databank::PublicationState::FILE_EMBARGO, Databank::PublicationState::DRAFT].include?(@dataset.publication_state))))

  .row
    .col-md-4
      .form-group
        =f.label :embargo, "Publication Delay (embargo)", class: "control-label"
        %a(href="#" data-toggle="modal" data-target="#embargoModal" tabindex="-1")
          %span(class="glyphicon glyphicon-question-sign")
        = f.select :embargo, options_for_select([["No Publication Delay"],["File Publication Delay", Databank::PublicationState::FILE_EMBARGO],["File and Metadata Publication Delay", Databank::PublicationState::METADATA_EMBARGO]], @dataset.embargo), {prompt: false}, {class: "form-control dataset"}
    .col-md-2
      %div(id="release-date-picker")
        =f.label :release_date, "Release Date",  :class => "control-label"
        =f.date_field :release_date,  class: "form-control dataset"
-else
  .row
    .col-md-4
      .form-group
        =f.label :release_date, "Release Date",  :class => "control-label"
        =f.text_field :release_date, class: "form-control dataset", disabled: true