.row
  .col-md-4
    .form-group
      =f.label :embargo, "Publication Delay (embargo)", class: "control-label"
      %a(href="#" data-toggle="modal" data-target="#embargoModal" tabindex="-1")
        %span(class="glyphicon glyphicon-question-sign")
      = f.select :embargo, options_for_select([["No Publication Delay"],["File Publication Delay (standard embargo)", Databank::PublicationState::FILE_EMBARGO],["File and Metadata Publication Delay (reserve DOI only)", Databank::PublicationState::METADATA_EMBARGO]], @dataset.embargo), {prompt: false}, {class: "form-control dataset"}
  .col-md-2
    %div(id="release-date-picker")
      =f.label :release_date, "Release Date",  :class => "control-label"
      =f.date_field :release_date, class: "form-control dataset", value: Date.current()