<!-- Modal -->
<div class="modal fade" id="incomplete" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="completion-warning">
          <p class="ds-paragraph">
            <span class="glyphicon glyphicon-alert"></span>
            <%= @completion_check %>
            Edit to complete dataset.
          </p>
        </div>
      </div>

      <div class="modal-footer container-fluid">

        <button onclick='window.location = "/datasets/<%=@dataset.key%>/edit"', type="button" class="btn btn-primary" data-dismiss="modal" id="edit-button">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button>

        <button onclick='window.open("/help")', type="button" class="btn btn-success" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-question-sign"></span> Get Help
        </button>

        <button onclick='window.location = "/datasets/<%=@dataset.key%>"', type="button" class="btn btn-info" data-dismiss="modal" id="cancel-button">
          <span class="glyphicon glyphicon-remove"></span> Close
        </button>
      </div>
    </div>
  </div>
</div>
