%h1 Pro Tips

.idb-info-header
  %h2 You will need to select a licence for your dataset.
.idb-info-body
  %p
    Datasets are complex objects, and understanding how copyright law applies to datasets is similarly complex.
    %br
    For more background on Research Data Copyright and Licensing, review our help section on the topic:
    %a(href="/help#license")
      Research Data Copyright and Licensing
    %br
    Your choices will be:
    =image_tag('license_options.png')
    %br
    %a(href="https://creativecommons.org/about/cc0" target="_blank" ) Find out more about CCO
    %br
    %a(href="https://creativecommons.org/licenses/by/4.0" target="_blank" ) Find out more more about CC BY
    %br
    If you choose the license.txt option, you will need to upload your license.txt file as part of your dataset.

.idb-info-header
  %h2 You will need to select a long-term primary contact for your dataset.
.idb-info-body
  %p
    Select one of the authors from the author list to be the long-term primary contact.  If there is only one author, select that author.
    %br
    Two author example:
    =image_tag('select_contact.png', height: 150)

.idb-info-header
  %h2 You will offered the option to delay publication of your dataset.
.idb-info-body
  %p
    Due to publisher or other requirements, researchers may need to deposit their dataset but make it temporarily unavailable for download.  For more guidance, review our help section on the topic:
    %a(href="/help#embargo") Delaying Publication of/embargoing your dataset
    %br
    Your choices will be:
    =image_tag('embargo_options.png')
.idb-info-header
  %h2
    %em We're data publishing experts and we're here to help!
.idb-info-body
  %p If anything comes up while preparing to publish your data, selecting publication options, or using the Illinois Data Bank, help is always available in top menu bar.