.modal.fade(id="licenseModal")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
      .modal-body
        .row
          .col-md-4
            .info-column-header
              %h2 CC0
              %p CC0 1.0 Universal public domain dedication
            .info-column-middle-section
              %h4 Best for reuse
              %p Lets others distribute, remix, tweak, and build upon your work without any restrictions or requirements.
            .info-column-bottom-section
              %h4 You can still request attribution
              %p Doesn’t let others ignore community citation practices; just doesn’t legally require attribution for reuse. You can include a request for citation or other attribution information in the readme.txt file of your dataset.
          .col-md-4
            .info-column-header
              %h2 CC BY
              %p Creative Commons Attribution 4.0 International license
            .info-column-middle-section
              %h4 Attribution a legal requirement
              %p Requires that others attribute you for any reuse of your data in perpetuity.
            .info-column-bottom-section
              %h4 May create reuse difficulties
              %p Can result in unwieldy accumulation of citations and authors, known as “attribution stacking”.
          .col-md-4
            .info-column-header
              %h2 Other license
              %p (license.txt)
            .info-column-middle-section
              %h4 Other CC licenses may create reuse difficulties
              %p CC NC, CC SA, and CC ND impose restrictions that may create incompatibilities and licensing difficulties for the reuse of research data.
            .info-column-bottom-section
              %h4 Custom licensing considerations
              %p Writing a custom license requires legal expertise and non-standard licenses complicate reuse.
        %a(href="/help#license") Copyright and Licensing help





