.modal.fade(id= "offer_review_h" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-body

        %button(type="button" onclick="closeOfferReviewModal()" class="pull-right" )
          &times;

        .container-fluid
          %h3 Choose the next step!

        .container-fluid

          =form_tag "/datasets/#{@dataset.key}" do
            .row
              .col-md-6
                %button(type="button" id="review-then-publish-btn" class="btn btn-primary btn-block")
                  Review then publish
                  %span(class="glyphicon glyphicon-triangle-right" )
                %br

                %ul
                  %li
                    %p
                      Reserve your DOI and activate it in
                      %strong 2-5 days
                  %li
                    %p
                      Find and fix errors
                      %strong before
                      publication
                  %li
                    %p
                      Share
                      %strong high-quality
                      work

                .text-center
                  %span(class="glyphicon glyphicon-arrow-up" )
                  %em pick me!
                  %span(class="glyphicon glyphicon-arrow-up" )
                    

              .col-md-6
                %button(type="button" id="publish-then-review-btn" class="btn btn-primary btn-block")
                  Publish then review
                  %strong (then maybe republish)
                  %span(class="glyphicon glyphicon-triangle-right" )

                %br

                %ul
                  %li
                    %p
                      Activate your DOI
                      %strong now
                  %li
                    %p
                      Find and fix errors
                      %strong after
                      publication
                      %br
                      (have to publish new version of the dataset)
                  %li
                    %p
                      Share work that may
                      %strong prompt questions
                      about unknown problems
