.modal.fade(id= "offer_review_v" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %button(type="button" onclick="closeOfferReviewModal()" class="pull-right" )
          &times;
        .container-fluid
          .row
            .col-md-10.col-md-offset-1
              .indent
                %hr
                %h3 Choose the next step!
                %hr

        .container-fluid

          =form_tag "/datasets/#{@dataset.key}" do
            .row
              .col-md-8.col-md-offset-2
                =radio_button_tag 'review_choice_v', 'Review', false, id: 'choose_review_v'
                %span(class="choose_review_block_v" )
                  %strong Review then publish
                %br
                %br
                .choose_review_block_v
                  .indent
                    %ul
                      %li
                        %p
                          Reserve your DOI and activate it in
                          %strong 2-5 days
                      %li
                        %p
                          Find and fix errors
                          %strong before
                          publication
                      %li
                        %p
                          Share
                          %strong high-quality
                          work

                %hr
                =radio_button_tag 'review_choice_v', 'Continue', false, id: 'choose_continue_v'
                %span(class="choose_continue_block_v" )
                  %strong Publish then review (then maybe republish)
                %br
                %br
                .choose_continue_block_v
                  .indent
                    %ul
                      %li
                        %p
                          Activate your DOI
                          %strong now
                      %li
                        %p
                          Find and fix errors
                          %strong after
                          publication (have to publish new version of the dataset)
                      %li
                        %p
                          Share work that may
                          %strong prompt questions
                          about unknown problems


            .row
              .col-md-2.col-md-offset-10
                %button(role="button" type="button" class="btn btn-block btn-primary" id='offer_review_submit_v_btn')
