%button(type="button" id="show-review-v-modal-link" class="btn btn-primary btn-block" data-toggle="modal" data-target="#offer_review_v")
  Confirm (vertical)
  %span(class="glyphicon glyphicon-triangle-right" )

%button(type="button" id="show-review-h-modal-link" class="btn btn-primary btn-block" data-toggle="modal" data-target="#offer_review_h")
  Confirm (horizontal)
  %span(class="glyphicon glyphicon-triangle-right" )