.modal.fade(id="orcidHelpModal")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
      .modal-body
        =image_tag 'orcid_32x32.png'
        %p
          An ORCiD iD is a persistent digital identifier that distinguishes you from other researchers. Learn more at
          %a(href="http://orcid.org/" target="_blank" )
            orcid.org.
