.curator-only
  .panel-group(id="permissions" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="permissionsHeading")
        %h4(class="panel-title")
          %a(role="button" data-toggle="collapse" data-parent="#access" href="#permissionsPanel" aria-expanded="false" aria-controls="permissionsPanel" class="accordion-toggle collapsed" )
            %span( class="metadata-label" ) Permissions
      .panel-collapse.collapse(id="permissionsPanel" role="tabpanel" aria-labelledby="permissionsHeading" )
        .panel-body
          %input(id="permission_action" type="hidden" name="permission_action" value="update_permissions" )
          %strong Groups allowed to review this dataset, even when in a draft, held, or embargoed state:
          %hr
          =form_tag("/datasets/#{@dataset.key}/permissions") do
            .row
              .col-md-1
                .pull-right
                  -if @dataset.data_curation_network
                    %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}" checked="checked")
                  -else
                    %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}")
              .col-md-3
                Data Curation Network (DCN)
            %hr
            %strong Internal Reviewer NetIDs:
            -@dataset.internal_reviewer_netids.each do |netid|
              .row
                .col-md-1
                  .pull-right
                    %input(type="checkbox" name="internal_reviewer[]" value="#{netid}" checked="checked")
                .col-md-3
                  =netid
            %div(id="new_internal_reviewers_div")
            .row
              .col-md-4
                %input(type="text" name="newInternalReviewer" id="newInternalReviewer" placeholder="netid")
              .col-md-2
                %button(type="button" class= "btn btn-success" onclick="addInternalReviewerRow")
                  %span(class="glyphicon glyphicon-plus")
                  Add
            .row
              .col-md-3.col-md-6
                %button(type="submit" class="btn btn-primary") Update




