-if @dataset.publication_state != Databank::PublicationState::DRAFT
  %p You can send (or resend) the dataset to medusa now. (Best to check will Colleen and/or Howard first.)
  =form_tag("/datasets/#{@dataset.key}/send_to_medusa") do
    %input(type="hidden" value="placeholder" )
    =submit_tag("Send to Medusa")

-if @dataset.medusa_ingests.count.positive?
  - @dataset.medusa_ingests.each do |medusa_ingest|
    = render 'brief_record', medusa_ingest: medusa_ingest
-else
  %p No Medusa ingest requests have been sent for this dataset.
  -if @dataset.publication_state == Databank::PublicationState::DRAFT
    %p This is because it is in a draft state.