-if @dataset.publication_state != Databank::PublicationState::DRAFT
  %p You can send (or resend) the dataset to medusa now. (Best to check will Colleen and/or Howard first.)
  =form_tag("/datasets/#{@dataset.key}/send_to_medusa") do
    %input(type="hidden" value="placeholder" )
    =submit_tag("Send to Medusa")

-if @dataset.medusa_ingests.count < 1
  %p No Medusa ingest requests have been sent for this dataset.
  -if @dataset.publication_state == Databank::PublicationState::DRAFT
    %p This is because it is in a draft state.

-@dataset.medusa_ingests.each do |ingest|
  %strong staging key:
  =ingest.staging_key
  %br
  %strong target key:
  =ingest.target_key
  %br
  %strong filetype - identifier:
  ="#{ingest.idb_class} - #{ingest.idb_identifier}"
  %br
  %strong time request sent:
  =ingest.created_at.to_time.iso8601

  -if ingest.response_time && ingest.response_time != ''
    %br
    %strong time response received:
    =ingest.response_time.to_time.iso8601
    %br
    %strong response status:
    =ingest.request_status
    -if ingest.error_text
      %br
      %strong response error:
      =ingest.error_text

  -else
    %br
    %strong no response yet

  %br
  %br