-if @dataset.medusa_ingests.count < 1
  %p No Medusa ingest requests have been sent for this dataset.
  -if @dataset.publication_state == Databank::PublicationState::DRAFT
    %p This is because it is in a draft state.
  -else
    %p If you are sure the requests should have been sent, you can send them now.
    =form_tag("/datasets/#{@dataset.key}/send_to_medusa") do
      =submit_tag("Send to Medusa")

-@dataset.medusa_ingests.each do |ingest|
  %strong staging path:
  =ingest.staging_path
  %br
  %strong filetype - identifier:
  ="#{ingest.idb_class} - #{ingest.idb_identifier}"
  %br
  %strong time request sent:
  =ingest.created_at.to_time.iso8601

  -if ingest.response_time && ingest.response_time != ''
    %br
    %strong time response received:
    =ingest.response_time.to_time.iso8601
    %br
    %strong response status:
    =ingest.request_status
    -if ingest.error_text
      %br
      %strong response error:
      =ingest.error_text

  -else
    %br
    %strong no response yet

  %br
  %br