-@dataset.medusa_ingests.each do |ingest|
  %strong staging path:
  =ingest.staging_path
  %br
  %strong filetype | identifier:
  ="#{ingest.idb_class} | #{ingest.idb_identifier}"
  %br
  %strong time request sent:
  =ingest.created_at.to_time.iso8601

  -if ingest.response_time && ingest.response_time != ''
    %br
    %strong time response received:
    =ingest.response_time.to_time.iso8601
    %br
    %strong response status:
    =ingest.request_status
    -if ingest.error_text
      %br
      %strong response error:
      =ingest.error_text

  -else
    %br
    %strong no response yet

  %br

