<script id="template-upload" type="text/x-tmpl">
  <div class="upload">

    <tr class="template-upload fade">
      <td>
        {%=o.files[0].name%}
      </td>
      <td class="cancel">
        <button type="button" class="btn btn-warning" onclick="cancelUpload()">
          <span class="glyphicon glyphicon-remove" ></span>
          Cancel
        </button>
      </td>
      <td>
        <div class="progress">
          <div class="bar progress-bar" style="width: 0%;">
          </div>
        </div>
      </td>
    </tr>
  </div>

</script>