.row
  .col-md-9
    %h1 Datasets
  .col-md-3
    %br
    - if params.has_key?('depositor') && current_user && current_user.role != 'admin'
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets"')
        List
        %strong ALL
        Datasets
    - elsif current_user && current_user.role != 'admin'
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets?depositor=#{current_user.name}"')
        List Just
        %strong MY
        Datasets
= render_datatable(@datatable)