.row
  .col-md-9
    %h1 Datasets
  .col-md-3
    %br
    - if params.has_key?('depositor')
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets"')
        Go to Standard Datasets Listing
    - else
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets?depositor=#{current_user.name}"')
        List Just My Datasets
= render_datatable(@datatable)