<% if @dataset %>
  <%= link_to dataset_path(@dataset.key), :class => "btn btn-primary btn-sm" do %>
    <span class="glyphicon glyphicon-triangle-left"></span> Back
  <% end %>
<% end %>
<%= render partial: 'deposit_agreement' %>

