<%= form_for Datafile.new do |f| %>
  <%= f.label :binary, "Upload datafiles:" %>
  <%= f.file_field :binary, name: "datafile[binary]" %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>