//TODO: handle errors
/*
var button = "<a class= 'btn btn-sm btn-danger' href=<%= %Q[http://localhost:3000/datasets/#{@dataset.key}/destroy_file/#{@datafile.web_id }] %>><span class='glyphicon glyphicon-remove'> File</span></a>";

var datafileRow = "<div class = 'row'><span class='col-md-10'>" + "<%= (@datafile.master_bytestream).filename %>" + "</span><span class='col-md-2'>" + button + "</span></div>";

$('#new_datafiles').append(datafileRow);
*/
