-if (can? :manage, @admin)
  =render partial: 'form'
-else
  .alert.alert-alert
    You are not authorized to access this page.


-#%h1 Listing admin
-#
-#%table
-#  %thead
-#    %tr
-#      %th Read only alert
-#      %th Singleton guard
-#      %th
-#      %th
-#      %th
-#
-#  %tbody
-#    - @admin.each do |admin|
-#      %tr
-#        %td= admin.read_only_alert
-#        %td= admin.singleton_guard
-#        %td= link_to 'Show', admin
-#        %td= link_to 'Edit', edit_admin_path(admin)
-#        %td= link_to 'Destroy', admin, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Admin', new_admin_path
