<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

Name: <%= @params['help-name'] %>
<br/>
Email: <%= @params['help-email'] %>
<br/>
Topic: <%= @params['help-topic'] %>
<br/>
Message
<br/>
<hr/>
<%= @params['help-message'] %>

</body>
</html>