<div id="footer">
  <hr/>
  <div class="row">
    <div class='col-md-1 pull-left'>
      <%= link_to(image_tag('imark_footer.gif', alt: 'University of Illinois at Urbana-Champaign logo'), 'http://illinois.edu') %>
    </div>
    <div class="col-md-11">
      The Illinois Databank is a product of the
      <a href="http://researchdataservice.illinois.edu/">Research Data Service</a> at the University Library.
      <a href="http://researchdataservice.illinois.edu/contact-us/">Contact us</a> for questions and to provide
      feedback.<br/>
      Copyright © 2015 University of Illinois
    </div>
  </div>

</div>
