.hide-when-printing
  / Static navbar
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Illinois Data Bank
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/datasets/pre_deposit"}
            %span.glyphicon.glyphicon-plus
            Deposit Dataset
        %li
          %a{:href => "/datasets"}
            %span.glyphicon.glyphicon-search
            Find Data
        %li
          %a{:href => "/policies"}
            %span.glyphicon.glyphicon-info-sign
            Policies
        %li
          %a{:href => "/help"}
            %span.glyphicon.glyphicon-question-sign
            Help
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a{:href => "/datasets?q=#{URI.encode('&depositors[]=')}#{current_user.username}"}
              =current_user.name
          %li= link_to 'Log out', :logout
        - else
          %li= link_to 'Log in with NetID', :login
  / /.nav-collapse
