%header(class="library-header img-responsive hidden-xs" )
  %h1(class="sr-only")University Library, University of Illinois at Urbana-Champaign
  .container-fluid
    .table-row
      .table-cell
        %a(href="http://illinois.edu" )
          =image_tag("imark.png", class: "banner-image-imark", alt: "University of Illinois I-Mark")
      .table-cell.library-logo-words.img-responsive.hidden-xs
        %a(href="http://www.library.illinois.edu" )
          University Library
        %span(class="university-logo-words" )
          %a(href="http://illinois.edu" )
            University of Illinois at Urbana Champaign
      .table-cell.banner-image-library-div.img-responsive.visible-xs.library-words-xs
        %a(href="http://www.library.illinois.edu")
          University Library
