%header(class="library-header" )
  %h1(class="sr-only")University Library, University of Illinois at Urbana-Champaign
  .container-fluid
    .row
      .university-library-branding
        %table(id="library-banner-table")
          %tr
            %td
              %a(href="http://illinois.edu" )
                =image_tag("imark.png", class: "banner-image-imark", alt: "University of Illinois I-Mark")
            %td(class="library-logo-words" )
              %a(href="http://www.library.illinois.edu" )
                University Library
              %span(class="university-logo-words" )
                %a(href="http://illinois.edu" )
                  University of Illinois at Urbana Champaign
