%footer(class="library-footer hidden-xs" role="contentinfo")
  .row.footer-info
    %h2(class="sr-only")library website footer information
    %p(class="repository-footer-info")
      The Illinois Data Bank is a product of the
      %a(href="http://researchdataservice.illinois.edu/")
        Research Data Service
      at the University Library.
      %a(href="/help")
        Contact us
      for questions and to provide feedback.
  .row.lg-copyright-footer
    .col-md-12.copyright-footer(aria-label="university library copyright info")
      %p
        %a(href="http://illinois.edu" aria-label="University of Illinois website link")
          = image_tag('illinois_wordmark_footer.png', alt: "University of Illinois Logo")
      © 2014 University of Illinois Board of Trustees