.modal.fade(id="loadingModal")
  .modal-dialog
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
        %h2 Processing
      .modal-body
        .loading_image
          %span(class="fa fa-spinner fa-4x" )
