<div class="container-fluid welcome">

  <h3>Repository for research data collected at the University of Illinois at Urbana-Champaign</h3>

  <h4>Data in the Illinois Data Bank will:</h4>
  <ul>
    <li><span class="glyphicon glyphicon-tag"></span> Receive a stable identifier (DOI) for easy reference and citation
    </li>
    <li><span class="glyphicon glyphicon-download"></span> Be readily available for anyone to access for a minimum of 5
      years
    </li>
    <li><span class="glyphicon glyphicon-check"></span> Be located in a stable, secure environment that complies with
      the funder and publisher requirements
    </li>
  </ul>
  <h4>Have questions? Visit the Help page or <a href="http://researchdataservice.illinois.edu/contact-us/">contact us</a>.</h4>

</div>