.container-fluid
  .welcome
    %h1 Welcome to the Illinois Data Bank
    %p
      %em Research data deposited by Illinois graduate students, staff, and faculty, and openly available to anyone in the world.
    %h3 Deposit-ready data:
    %ul
      %li is in a final state and not expected to undergo revisions.
      %li has had any private, confidential, or other legally protected information removed.
      %li is approved for public distribution by all creator(s) and/or copyright owner(s).
    .row
      .col-md-offset-6.col.md-6
        %a(href="/help#start") Read more about getting started
    %h3 Published data:
    %ul
      %li
        receives a stable identifier (
        %a(href="http://www.doi.org/" target="_blank" ) DOI
        ) for easy reference and citation.
      %li is readily available for anyone to access for a minimum of 5 years.
      %li is located in a stable environment that complies with many funder and publisher requirements.
    .row
      .col-md-offset-6.col.md-6
        %a(href="/policies") Read more about our policies


