%h2 Editing Featured Researcher
.container-fluid

  = render 'form'
  .row
    .col-md-2.col-md-offset-10
      %a(href="/featured_researcher/#{featured_researcher.id}" class="btn btn-danger btn-block idb" data-method="delete" data-confirm="Are you sure?") Delete
