%h1 Listing invitees

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @invitees.each do |invitee|
      %tr
        %td= link_to 'Show', invitee
        %td= link_to 'Edit', edit_invitee_path(invitee)
        %td= link_to 'Destroy', invitee, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Invitee', new_invitee_path
