<p id="notice"><%= notice %></p>

<h1>Creators Listing for Curator Use</h1>

<table class="table table-striped">
  <thead>
  <tr>

    <th>Name</th>
    <th>ORCID iD</th>
    <th>Dataset</th>
  </tr>
  </thead>

  <tbody>
  <% @creators.each do |creator| %>
    <% if (can? :manage, creator) %>
      <tr>
        <td><%= "#{creator.family_name}, #{creator.given_name}" %></td>
        <td>
          <% if creator.identifier && creator.identifier != '' %>
            <%= link_to("http://orcid.org/#{creator.identifier}", "http://orcid.org/#{creator.identifier}") %>
          <% else %>
            [Not Provided]
          <% end %>
        </td>
        <td><%= link_to("#{(Dataset.find(creator.dataset_id)).plain_text_citation}", "#{request.base_url}#{dataset_path(Dataset.find(creator.dataset_id))}") %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br/>


