.dialog.text-center
  %h2 We're sorry, but something went wrong.
  %hr
  %p You may have mistyped the address or the page may have moved.
  %p
    Details have been logged.
    %b
    Please
    %a(href="/help#contact" target="_blank")
      contact the Research Data Service Team
    with questions.
