.container-fluid

  =render partial: 'heading'

  -if current_user && current_user.role == 'curator'
    %h3 My Datasets
    -if @search
      -@search.each_hit_with_result do |hit, dataset|
        = render 'datasets/brief_record', dataset:dataset

  -elsif current_user && current_user.role == 'admin'
    %p
      =succeed ',' do
        =current_user.name
      you are logged in through Shibboleth with your University of Illinois identity. If you want to try out your Data Curation Network persona, log out first.
    .dcn-admin
      .fas.fa-users.fa-10x
    %a(href="/data_curation_network/accounts") Accounts

  -elsif current_user
    .jumbotron
      =succeed '.' do
        To find out more, check out the
        %a(href="https://datacurationnetwork.org/") Data Curation Network site

  -else
    =render partial: 'identities/log_in'


