.container-fluid

  =render partial: 'heading'

  -if current_user && current_user.role == 'curator'
    %h3 My Datasets
    -if @search
      -@search.each_hit_with_result do |hit, dataset|
        = render 'datasets/brief_record', dataset:dataset
    -else
      Placeholder content

  -else
    .row
      .col-md-6.text-center
        .dcn-contact
          .fas.fa-envelope.fa-10x
        %br
        =succeed "." do
          To renew or modify your account, contact
          %a(href="mailto:researchdata@illinois.library.illinois.edu" ) researchdata@illinois.library.illinois.edu

      .col-md-6.text-center
        .dcn-login
          .fas.fa-sign-in-alt.fa-10x
        %br
        =succeed "." do
          With a working Data Curation Network curator account for Illinois Data Bank,
          %a(href="/data_curation_network/log_in") log in here


