.container-fluid
  %h2 Data Curation Network Portal for Illinois Data Bank

  %h3 Curators
  .indent
    If you have a working Data Curation Network curator account for Illinois Data Bank, you can
    %button(type="button" class="btn btn-primary" )
      Log In to Illinois Data Bank
    here.

    %br
    =succeed "." do
      If you need to set up, renew, or modify your account, please contact us at
      %a(href="mailto:researchdata@illinois.library.illinois.edu") researchdata@illinois.library.illinois.edu

  %h3 Looking for more information about the Data Curation Network?
  .indent
    =succeed('!') do
      Check out the
      %a(href="https://datacurationnetwork.org/" )
        Data Curation Network homepage