.container-fluid

  =render partial: 'heading'

  -if current_user && current_user.role == Databank::UserRole::REVIEWER
    %h3 Datasets in Progress
    -if @drafts && @drafts.count > 0
      -@drafts.each do |dataset|
        = render 'datasets/brief_record', dataset:dataset
    -else
      .jumbotron
        No Data Curation Network datasets in Progress in Illinois Data Bank

    %h3 Completed Datasets
    -if @nondrafts && @nondrafts.count > 0
      -@nondrafts.each do |dataset|
        = render 'datasets/brief_record', dataset:dataset
    -else
      .jumbotron
        No Completed Data Curation Network datasets found in Illinois Data Bank

  -elsif current_user && current_user.role == Databank::UserRole::ADMIN
    .text-center
      .dcn-admin
        .fas.fa-users.fa-8x
      %a(href="/data_curation_network/accounts") Accounts

    .jumbotron
      =succeed ',' do
        =current_user.name
      you are logged in as an admin. If you want to try out your Data Curation Network persona, log out first.

  -elsif current_user
    .jumbotron
      =succeed '.' do
        To find out more, check out the
        %a(href="https://datacurationnetwork.org/") Data Curation Network site

  -else
    =render partial: 'identities/log_in'


