-dataset = Dataset.find_by_id(recordfile.dataset_id)
-if dataset
  %a(href="#{IDB_CONFIG[:root_url_text]}/datasets/dataset.key" )
    =dataset.title
-else
  Dataset not found.
%br

="#{recordfile.bytestream_name}, #{number_to_human_size(recordfile.bytestream_size)}"
%br
=recordfile.bytestream_path
%br
="Medusa UUID: #{recordfile.medusa_id}"
%hr