// uses variables from libguide-style.scss
.idb-help ul {
  list-style-type: none;
}
.idb-help p {
  font-size: large;
  line-height: 1.5;
  padding-bottom: 5px;
}

.idb-help-section-head {
  border: 1px grey;
}
.idb-help{
  padding-top: 10px;
}

li.current {
  background-color: #BEC4DF;
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\e072"; /* "play" icon */
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

.bg-subtle  {
  background-color: #F8F8F8;
}
.navbar-user {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;
}
.panel, .panel-group{
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-file-controls {
  line-height: 30px;
  font-size: 16px;
}
.fileinput-button {
  height: 40px;
}

.bs-callout-info {
  padding-top: 40px;
  padding-bottom: 10px;
}

//#main-content{
//  margin-left: 15px;
//  margin-right: 15px;
//}

.idb-alert{
  padding: 15px;
  background-color: lightblue;
}
.idb-callout {
  background: yellow;
  padding: 5px;
}
.completion-warning{
  background: yellow;
  padding-top: 5px;
  padding-bottom: 5px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

a.btn {
  color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

p, li, .workflow-graphic-text{
  font-size: 18px;
  line-height: 22px;
}
