// uses variables from libguide-style.scss
.idb-help ul {
  list-style-type: none;
}
.idb-help p {
  font-size: large;
  line-height: 1.5;
  padding-bottom: 5px;
}

.idb-help-section-head {
  border: 1px $color__medium-grey;
}
.idb-help{
  padding-top: 10px;
}

li.current {
  background-color: $color__light-blue;
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.bg-subtle  {
  background-color: $color__lightest-grey;
}
.navbar-user {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;
}
.panel, .panel-group{
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-file-controls {
  line-height: 30px;
  font-size: 16px;
}
.fileinput-button {
  height: 40px;
}

.idb-alert{
  padding: 15px;
  background-color: $color__light-blue;
}
.idb-callout {
  background: $color__yellow;
  padding: 5px;
}
.completion-warning{
  background: $color__yellow;
  padding-top: 5px;
  padding-bottom: 5px;
}

pre {
  background-color: $color__lightest-grey;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: $color__red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $color__red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $color__lightest-grey;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $color__red;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

a.btn {
  color: $color__text-light;
&:visited {
    color: $color__text-light;
  }
  &:hover {
    color: $color__text-light;
    background-color: $color__dark-navy;
  }
}

.bs-callout-info {
  padding-bottom: 10px;
}

.help-big-question {
  font-size: 24px;
  text-align: center;
}

/*  fixed headers for full screen */

@media screen and (max-width: 1145px) and (min-width: 767px) {

  .library-header{
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .navbar-default{
    z-index: 1002;
    position: fixed;
    top: 32px;
    width: 100%;

  }
  #not-header{
    margin-top: 142px;
  }
  .bs-callout-info {
    padding-top: 142px;
    min-height: 750px;
  }
  .help-big-question {
    font-size: 45px;
  }
}

@media screen and (min-width: 1146px)  {

  .library-header{
    z-index: 1001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .navbar-default{
    z-index: 1002;
    position: fixed;
    top: 32px;
    width: 100%;
  }
  #not-header{
    margin-top: 107px;
  }
  .bs-callout-info {
    padding-top: 107px;
    min-height: 750px;
  }
  .help-big-question {
    font-size: 55px;
  }
}


