.library-header {
  margin-bottom: 0;
  background-color: $color__dark-navy;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 44px;
  margin-top: 0;
}

.repository-header {
  font-family: "Times New Roman", Times, Serif;
  font-size: 55px;
  color: $color__text-light;
  background-color: $color__dark-orange;
  padding-left: 15px;
  margin: 0;
  width: 100%;
}

.repository-header > a:link, .repository-header > a:visited, .repository-header > a:hover, .repository-header > a:active {
  color: $color__text-light;
  text-decoration: none;
  background-color: $color__dark-orange;
}

.repository-footer-info {
  padding-top: 15px;
  text-align: center;
}

#welcome-image {
  // background-image: url("IDB_header_image_01.jpg");
  background-image: url("IDB_Filter_2.jpg");
  margin: 0;
  padding: 0;
  position: relative;
  background-size: cover;
  height: 200px;
}

#welcome-overlay {
  position: absolute;
  left: 30px;
  top: 75px;
  background-color: $color__text-light;
  padding-left: 15px;

}

#welcome-overlay > p {
  text-size: 20px;
  line-height: 23px;
  width: 580px;
  margin: 15px;
}

a {
  color: $color__dark-link;
  &:visited {
    color: $color__dark-link
  }
  &:hover {
    color: $color__text-light;
    background-color: $color__dark-navy;
  }
}

/* begin Navbar styling */
// $colDefault: $color__lightest-grey;
$colDefault: $color__text-light;
$bgDefault: $color__dark-orange;
$bgHighlight: $color__orange;
$colHighlight: $color__lightest-grey;
$dropDown: false;

.navbar-default {
  min-height: 75px;
  margin: 0;
  padding-top: 15px;
  border-radius: 0;
  background-color: $bgDefault;
  border-color: $bgDefault;
  .navbar-brand {
    padding-right: 50px;
    color: $colDefault;
    font-size: 55px;
    font-family: "Times New Roman", Times, Serif;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }

  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-brand {
    font-size: 30px !important;
    padding: 15px !important;
  }
}

/* end Navbar styling */

/* begin Button styling  */

.btn-danger {
  background-color: #c02c2c;
  border-color: #c02c2c;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #ab2727;
  border-color: #972222;
}

.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #c02c2c;
  border-color: #c02c2c;
}

.btn-primary {
  background-color: #265191;
  border-color: #265191;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #21467d;
  border-color: #1b3a69;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #265191;
  border-color: #265191;
}

.btn-success {
  background-color: #c86128;
  border-color: #c86128;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #b35724;
  border-color: #9e4c20;
}
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #c86128;
  border-color: #c86128;
}


/* end Button styling */

/* begin Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 175px;
}

.library-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background-color: #f5f5f5;
}

/* end Sticky footer styles
-------------------------------------------------- */