.library-header{
  margin-bottom: 0;
  background-color: $color__dark-navy;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 44px;
  margin-top: 0;
}

.repository-header{
  font-family: "Times New Roman", Times, Serif;
  font-size: 60px;
  color: white;
  background-color: $color__dark-orange;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 0;
}

#site-nav{
  margin-bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 0;
}

.library-logo-words{
  color: white;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, Serif;
  font-size: 24px;
}

.university-logo-words{
  color: $color__medium-grey;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.university-library-branding{
  padding-left: 15px;
}

.banner-image-imark{
  height: 24px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.repository-header > a:link, .repository-header > a:visited, .repository-header > a:hover, .repository-header > a:active {
  color:white;
  text-decoration: none;
  background-color: $color__dark-orange;
}

.navbar-header > a:link, .navbar-header > a:visited, .navbar-header > a:hover, .navbar-header > a:active {
  color:white;
  text-decoration: none;
  background-color: $color__dark-orange;
}

.library-logo-words> a:link, .library-logo-words > a:visited, .library-logo-words > a:hover, .library-logo-words > a:active {
  text-decoration: none;
  background-color: $color__dark-navy;
  color:white
}

.university-logo-words{
  width: 100%;
}

.university-logo-words> a:link, .university-logo-words > a:visited, .university-logo-words > a:hover, .university-logo-words > a:active {
  text-decoration: none;
  background-color: $color__dark-navy;
  color: $color__medium-grey;
}

.repository-footer-info{
  padding-top: 15px;
  text-align: center;
}

.navbar-brand{
  color: white;
  background-color:  $color__dark-orange;
  font-family: "Times New Roman", Times, Serif;
  font-size: 24px;
}

@media (max-width: 767px) {
  .navbar{
    background-color: $color__dark-orange;
  }
}


/* begin Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 175px;
}
.library-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 175px;
  background-color: #f5f5f5;
}

/* end Sticky footer styles
-------------------------------------------------- */