<h4 class="text-center"><strong>ILLINOIS DATA BANK DEPOSIT AGREEMENT</strong></h4>

<h5 class="text-center"><strong>Non-Exclusive Distribution and Preservation License</strong></h5>
<p>To properly administer the Illinois Data Bank and preserve the contents for future use, the Board of Trustees of
  the University of Illinois on behalf of its Urbana-Champaign campus (the "University") requires certain
  permissions and warrants from you, the Creator(s) and/or copyright owner. If copyright law is applicable to your
  dataset submission (see Illinois Data Bank Help section:
  <a href="help#license">Research Data Copyright and Licensing</a>) and you are the copyright owner, by accepting
  this agreement ("Deposit Agreement" or "License"), you still retain copyright to your work and do not give up the
  right to submit the Dataset to publishers or other repositories. If you are not the copyright owner, you represent
  that the copyright owner has given you permission to make the Dataset publicly available.</p>

<p>By accepting (clicking through) this License, you grant to the University the non-exclusive right to reproduce,
  translate (as described below), and distribute the Dataset in any format or medium worldwide and royalty-free,
  including, but not limited to, publication over the Internet, unless otherwise provided for by an addendum to this
  Deposit Agreement. You must contact Research Data Service staff at <a
href="mailto:databank@library.illinois.edu"
>databank@library.illinois.edu</a> if you would like an addendum to this Deposit Agreement to be considered.</p>

<p>You agree that the University may convert the deposited Data Files and/or Metadata Files to any medium or format
  and make multiple copies of the deposited Dataset for the purposes of security, back-up, and preservation. In
  addition, you understand and agree that Research Data Service staff may make changes to Descriptive Metadata,
  including enhancements (such as addition of key words) and/or corrections (such as minor typos). Any Descriptive
  Metadata changes will be tracked via a public change log. Your Dataset will not otherwise be altered without your
  permission. </p>

<p>You understand that the name of the Depositor as well as the name and email address of the Long-Term Contact
  Person may be displayed with the published Dataset, as will the copyright license selected by the Depositor.</p>

<p>You understand that the University commits to preserving your published Dataset in accordance with the
  <a href="#preservation_policy">Illinois Data Bank Preservation Policy</a>. The University also commits to
  providing public access of Datasets through maintenance of persistent Illinois Data Bank webpages, Descriptive
  Metadata records, and identifiers, and to providing access metrics, which may include page-views, downloads, and
  citations. The University currently commits to this level of preservation, access, and reporting for a period of
  <strong>at least five years</strong> from the date of publication via the Illinois Data Bank. The University will
  endeavor to retain the Dataset beyond the initial five-year commitment, but reserves the right to review the
  long-term viability of the Dataset beyond the initial five-year commitment and the right to Deaccession the Data
  Files and/or Metadata Files or otherwise alter the availability of the Data Files, Metadata Files, and/or
  Descriptive Metadata after the initial five years in the University's sole discretion. Generally, the University
  will endeavor to retain at least the Descriptive Metadata beyond the initial commitment. To learn how to increase
  the likelihood that published Data Files and Metadata Files will be preserved beyond the initial five year
  commitment, please see the
  <a href="#preservation_guidelines">Illinois Data Bank Preservation Review Guidelines</a>. </p>

<p>If you cannot make all of the following representations, then you must contact Research Data Service staff at <a
href="mailto:databank@library.illinois.edu"
>databank@library.illinois.edu</a> before proceeding further. </p>

<p>In order to submit this Dataset, you represent that:</p>
<ul>
  <li><p><span class="nudge-left-12">&bull;</span> You have the right to grant the rights contained in this License.</p></li>
  <li><p><span class="nudge-left-12">&bull;</span> Nothing in this Dataset, to the best of your knowledge, infringes on anyone's copyright or other
    intellectual property rights.</p></li>
  <li><p><span class="nudge-left-12">&bull;</span> If this Dataset does contain material for which you do not hold copyright and that exceeds fair use,
    you have obtained the unrestricted permission of the copyright owner to grant the University the rights required
    by this License and that such third-party owned material is clearly identified and acknowledged within the
    content of the Dataset.</p></li>
  <li>
    <p><span class="nudge-left-12">&bull;</span> Nothing in this Dataset violates any contract terms (e.g., Nondisclosure Agreement, Material Transfer
      Agreement, Terms of Use, etc.)</p></li>
  <li><p><span class="nudge-left-12">&bull;</span> Nothing in this Dataset contains any private information, confidential information, proprietary
    information of others, export controlled information, or otherwise protected data or information that should not
    be publicly shared.</p></li>
  <li>
    <p><span class="nudge-left-12">&bull;</span> You honor any publication delays required by other parties, such as a journal publisher, by selecting
      the appropriate release date for public distribution of all content in this Dataset. </p></li>
  <li><p><span class="nudge-left-12">&bull;</span> To the best of your knowledge, all content provided within and about this Dataset is accurate. </p>
  </li>
  <li>
    <p><span class="nudge-left-12">&bull;</span> Nothing in this Dataset contains any software viruses or computer codes, files, or programs capable of
      allowing unauthorized access or disrupting, damaging, limiting or interfering with the proper functioning of
      the Illinois Data Bank or other users' software, hardware, or telecommunications equipment.</p></li>
  <li><p><span class="nudge-left-12">&bull;</span> This Dataset is in a final state and is not subject to revisions or updates. </p></li>
  <li><p><span class="nudge-left-12">&bull;</span> You understand that if copyright terms for, or ownership of, this Dataset submission change, it is
    your responsibility to notify the University of these changes.</p></li>
  <li><p><span class="nudge-left-12">&bull;</span> If this Dataset is based upon work that has been sponsored or supported by an agency or organization
    other than the University, you must fulfill any right of review or other obligations required by the contract or
    agreement with such an agency or organization before depositing into the Illinois Data Bank.</p></li>
  <li>
    <p><span class="nudge-left-12">&bull;</span> You agree that this submission of this Dataset and your related actions are subject to all applicable
      state and federal laws as well as University and campus policies.</p></li>
</ul>
<p>By agreeing to this Deposit Agreement, you acknowledge that you have read and accept the terms of this License
  and all related Illinois Data Bank and University policies.</p>