<div class='bs-callout bs-callout-info idb-help' id="deposit_agreement">
  <br/>
  <hr/>
  <h1>Deposit Agreement</h1>
  <hr/>
  <p>To start depositing your Dataset, please answer the following questions, read the following deposit agreement,
    and agree to this deposit agreement.</p>

  <p><strong>Are you a Creator (includes one who has made, authored or otherwise made a substantive intellectual
    contribution) of this Dataset or have you been granted permission by a Creator to deposit this Dataset? </strong>
  </p>
  <ul>
    <li><p>[ ] Yes</p></li>
    <li><p>[ ] No</p></li>
  </ul>
  <p><strong>Have you removed any private, confidential, or other legally protected information from the
    Dataset?</strong></p>
  <ul>
    <li><p>[ ] Yes</p></li>
    <li><p>[ ] No</p></li>
    <li><p>[ ] Not applicable</p></li>
  </ul>
  <p><strong>Do you agree to the Illinois Data Bank Deposit Agreement in its entirety?</strong></p>
  <ul>
    <li><p>[ ] Yes</p></li>
    <li><p>[ ] No</p></li>
  </ul>
  <%= render partial: 'deposit_agreement_body' %>
  <hr/>
  <p>Date Issued: 2016-05-03</p>

  <p>Date Revised:</p>

  <p>Approved By: Heidi Imker</p>

  <p><a href="/help#contact">Contact the Research Data Service staff</a> with questions or to request an addition or
    revision to this</p>
</div>