<!-- By default, list items in this section have no styling, because they are used to indent.  To add a bullet, use &bull; -->

<div class='bs-callout bs-callout-info idb-help' id='example'>
  <br/>
  <hr/>
  <h1>Policy Title</h1>
  <hr/>
  <p class='metadata-note'>
    Optional Tagline or Small Print
  </p>
  <ul><!-- primary unordered list of section -->
    <li><!-- each section is a list item -->
      <h2>Section Head</h2>
      <p>
        Content with reference.<a href='#note_1'><sup>1</sup></a>
      </p>
    </li>
    <li>
      <h2>Section Head</h2>
      <p>
        Content with another reference.<a href='#note_2'><sup>2</sup></a>
      </p>
    </li>
    <li>
      <h2>Section Head</h2>
      <p>Lorem ipsum dolor sit amet, eros fringilla vitae ullamcorper asperiores, eros eu condimentum, lectus urna ac ut purus donec vestibulum, exercitation quisque habitasse phasellus sed cursus ornare. Sit libero. Non ac non quis. Felis aliquam at lorem nulla, sed leo vehicula asperiores. Praesent consectetuer vitae ultricies, libero elit vestibulum eget egestas luctus duis, dictum soluta fermentum. Augue interdum nonummy malesuada nibh, a arcu elementum et.</p>
      <p>Lacus nisi nam pede pellentesque, sem sed, pede condimentum at a. Eros egestas. Nec suspendisse, mauris a eget non purus. Vitae vivamus faucibus voluptate lorem elit, feugiat urna pulvinar curabitur lacus pretium, ligula integer augue, elementum quis porta erat sodales eu scelerisque. Facilisi in quis sit et. Volutpat consectetuer et fermentum tellus erat dictum, et sociis. Sagittis ipsum dapibus, fusce sed faucibus orci. Tellus sodales quis imperdiet eget pede suscipit, nunc at quisque condimentum odio lacinia.</p>
    </li>
    <li>
      <h2>Section Head</h2>
      <ul>
        <li>
          <p>&bull; Use unicode to indicate bullet.</p>
        </li>
        <li>
          <p>&bull; Another bulleted point</p>
        </li>
      </ul>
    </li>
    <li>
      <h2>For more information</h2>
      <ul>
        <li id="note_1">
          <p>
            Reference
            <a href='http://www.example.org/info'>http://www.example.org/info</a>.
          </p>
        </li>
        <li id="note_2">
          <p>
            Another Reference
            <a href='https://example.org/more-info'>more info source</a>.
          </p>
        </li>
      </ul>
      <hr/>
      <p>
        <sup>1</sup>
        Source Details.
      </p>
      <p>
        <sup>2</sup>
        Another Source Details.
        <a href='http://example.edu/source' target='_blank'>http://www.example.edu/source</a>
      </p>
    </li>
  </ul>
</div>
<a class='pull-right' href='#top'>Go to Top</a>