<div class='bs-callout bs-callout-info idb-help' id="preservation_guidelines">
  <br/>
  <hr/>
  <h1>Illinois Data Bank Preservation Review Guidelines</h1>
  <hr/>

  <p>The Research Data Service will convene Assessment Teams who will determine the long-term viability of Datasets
    published in the Illinois Data Bank. Preservation Review of any given Dataset will not be completed prior to the
    end of the Illinois Data Bank's commitment period, currently five years. The Research Data Service is committed to
    transparency, accountability, and collaborative decision-making regarding assessments of the long-term
    preservation status of research data. While a variety of unique factors influence decisions made about the
    Disposition of Datasets, the criteria outlined in this document provide a basis for assessing Datasets.</p>

  <table class="table table-bordered">

    <tr>
      <td colspan="2" class="idb-infographic-subhead"><em>Evaluated by Curators/Librarians/Archivists</em></td>
    </tr>
    <tr class="idb-infographic-header">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Cost to Store</td>
      <td>What is the estimated cost of continuing to store the data?</td>
    </tr>
    <tr>
      <td>Cost to Preserve</td>
      <td>What is the estimated cost of continuing or escalating preservation for the data? Preservation actions may
        include file format migration, software emulation, and/or enhancement of preservation metadata.
      </td>
    </tr>
    <tr>
      <td>Access</td>
      <td>What do download and page view metrics about interest in these data over time?</td>
    </tr>
    <tr>
      <td>Citations</td>
      <td>Have the data been cited in any publications?</td>
    </tr>
    <tr>
      <td>Associated Publication Citations</td>
      <td>If the data support the conclusions of a publication, has that publication been cited in any other
        publications?
      </td>
    </tr>
    <tr>
      <td>Restrictions</td>
      <td>Do the data have any access or re-use restrictions associated with them?</td>
    </tr>
    <tr>
      <td colspan="2" class="idb-infographic-subhead"><em>Evaluated by Domain Experts</em></td>
    </tr>
    <tr class="idb-infographic-header">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Possibility of Re-creation</td>
      <td>Is it possible to create the data again?</td>
    </tr>
    <tr>
      <td>Cost of Re-creation</td>
      <td>If it is possible to create the data again, what would be the cost of doing so?</td>
    </tr>
    <tr>
      <td>Impact of Study</td>
      <td>Did the study that generated these data significantly impact one or more research disciplines?</td>
    </tr>
    <tr>
      <td>Uniqueness of Study</td>
      <td>Was the study that generated these data novel?</td>
    </tr>
    <tr>
      <td>Quality of Study</td>
      <td>Is the study that generated these data regarded as being of quality by domain experts?</td>
    </tr>
    <tr>
      <td>Quality of Data</td>
      <td>Are the data of quality according to domain experts?</td>
    </tr>
    <tr>
      <td>Current Relevance</td>
      <td>Are the data useful for addressing contemporary research questions according to domain experts?</td>
    </tr>
    <tr>
      <td colspan="2" class="idb-infographic-subhead"><em>Evaluated by Curators/Librarians/Archivists and Domain Experts</em></td>
    </tr>
    <tr class="idb-infographic-header">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Availability of Other Copies</td>
      <td>Is the copy of the data in the Illinois Data Bank the only one?</td>
    </tr>
    <tr>
      <td>Understandability</td>
      <td>Has the creator supplied sufficient metadata and documentation related to the data’s creation,
        interpretation, and use in order to facilitate future discovery, access, and reuse?
      </td>
    </tr>
    <tr>
      <td>Dependencies</td>
      <td>Are the software, computing environment, or other technical requirements for using the data known? If
        so, are they available?
      </td>
    </tr>
    <tr>
      <td>Appropriateness of Repository</td>
      <td>Is there another trusted repository that, based on their collecting scope and user community, would be a
        better home for the data?
      </td>
    </tr>
  </table>
  <hr/>
  <small>Date Issued: 2016-05-03 <br/>
    Date Revised:<br/>
    Approved By: Heidi Imker<br/>
    <a href="/help#contact">Contact the Research Data Service staff</a> with questions or to request an addition or
    revision to these guidelines.</small>
</div>