<div class='bs-callout bs-callout-info idb-help' id="preservation_guidelines">
  <br/>
  <hr/>
  <h1>Illinois Data Bank Preservation Review Guidelines</h1>
  <hr/>

  <p>The Research Data Service will convene Assessment Teams who will determine the long-term viability of Datasets
    published in the Illinois Data Bank. Preservation Review of any given Dataset will not be completed prior to the
    end of the Illinois Data Bank's commitment period, currently five years. The Research Data Service is committed to
    transparency, accountability, and collaborative decision-making regarding assessments of the long-term
    preservation status of research data. While a variety of unique factors influence decisions made about the
    Disposition of Datasets, the criteria outlined in this document provide a basis for assessing Datasets.</p>

  <table class="table table-bordered">

    <tr>
      <td colspan="2" class="idb-infographic-header">Evaluated by Curators/Librarians/Archivists</td>
    </tr>
    <tr class="idb-infographic-subhead">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Cost to Store</td>
      <td>What is the estimated cost of continuing to store the dataset?</td>
    </tr>
    <tr>
      <td>Cost to Preserve</td>
      <td>What is the estimated cost of continuing or escalating preservation for the dataset? Preservation actions may
        include file format migration, software emulation, and/or enhancement of preservation metadata.
      </td>
    </tr>
    <tr>
      <td>Access</td>
      <td>What do download and page view metrics indicate about interest in the dataset over time?</td>
    </tr>
    <tr>
      <td>Citations</td>
      <td>Has the dataset been cited in any publications?</td>
    </tr>
    <tr>
      <td>Associated Publication Citations</td>
      <td>If the dataset supports the conclusions of a publication, has that publication been cited in any other
        publications?
      </td>
    </tr>
    <tr>
      <td>Restrictions</td>
      <td>Does the dataset have any access or reuse restrictions associated with it?</td>
    </tr>
    <tr>
      <td colspan="2" class="idb-infographic-header">Evaluated by Domain Experts</td>
    </tr>
    <tr class="idb-infographic-subhead">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Possibility of Re-creation</td>
      <td>Is it possible to create the dataset again?</td>
    </tr>
    <tr>
      <td>Cost of Re-creation</td>
      <td>If it is possible to create the dataset again, what would be the cost of doing so?</td>
    </tr>
    <tr>
      <td>Impact of Study</td>
      <td>Did the study that generated the dataset significantly impact one or more research disciplines?</td>
    </tr>
    <tr>
      <td>Uniqueness of Study</td>
      <td>Was the study that generated this dataset novel?</td>
    </tr>
    <tr>
      <td>Quality of Study</td>
      <td>Is the study that generated this dataset regarded as being of quality by domain experts?</td>
    </tr>
    <tr>
      <td>Quality of Data</td>
      <td>Is the dataset of quality according to domain experts?</td>
    </tr>
    <tr>
      <td>Current Relevance</td>
      <td>Is the dataset useful for addressing contemporary research questions according to domain experts?</td>
    </tr>
    <tr>
      <td colspan="2" class="idb-infographic-header">Evaluated by Curators/Librarians/Archivists and Domain Experts</td>
    </tr>
    <tr class="idb-infographic-subhead">
      <td>Criterion</td>
      <td>Consideration</td>
    </tr>
    <tr>
      <td>Availability of Other Copies</td>
      <td>Is the copy of the dataset in the Illinois Data Bank the only one?</td>
    </tr>
    <tr>
      <td>Understandability</td>
      <td>Has the creator supplied sufficient metadata and documentation related to the dataset’s creation,
        interpretation, and use in order to facilitate future discovery, access, and reuse?
      </td>
    </tr>
    <tr>
      <td>Dependencies</td>
      <td>Are the software, computing environment, or other technical requirements for using the dataset known? If
        so, are they available?
      </td>
    </tr>
    <tr>
      <td>Appropriateness of Repository</td>
      <td>Is there another trusted repository that, based on their collecting scope and user community, would be a
        better home for the dataset?
      </td>
    </tr>
  </table>
  <hr/>
  <p><a href="/help#contact">Contact Research Data Service staff</a> with questions or to request an addition or
    revision to this policy.</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th colspan="4" class="text-center table-title">
        Guidelines Document History and Version Control Table
      </th>
    </tr>
    <tr>
      <th>Version</th>
      <th>Action</th>
      <th>Approved By</th>
      <th>Action Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1.0</td>
      <td>Guidelines issued.</td>
      <td>Heidi Imker, Director, Research Data Service</td>
      <td>2016-05-03</td>
    </tr>
    <tr>
      <td>1.1</td>
      <td>Guidelines reviewed. Minor changes made: <br/>
        -Minor wording adjustment.<br/>
        -Versioning tabel added.
      </td>
      <td>Heidi Imker, Director, Research Data Service</td>
      <td>2016-10-05</td>
    </tr>
    <tr>
      <td>1.1</td>
      <td>Guidelines reviewed.
      </td>
      <td>Heidi Imker, Director, Research Data Service</td>
      <td>2017-03-02</td>
    </tr>
    </tbody>
  </table>
  <p>View past and current versions of this document in IDEALS: <a href="http://hdl.handle.net/2142/91039">http://hdl.handle.net/2142/91039</a>.</p>

</div>