<div class='bs-callout bs-callout-info idb-help' id="preservation_policy">
  <br/>
  <hr/>
  <h1 >Preservation Policy</h1>
  <hr/>
  <h3>Purpose of this Policy</h3>

  <p>This document outlines the Illinois Data Bank plan for responsible and sustainable stewardship of published
    Datasets. The development of a reliable digital archive that adheres to, and remains compliant with, the standards
    expounded in the Illinois Data Bank Policies remains the best mechanism to support the access of University of
    Illinois at Urbana-Champaign research data.</p>

  <h3>Preservation Objectives</h3>

  <p>The Illinois Data Bank's current objectives are to provide preservation of and access to published research data
    for a minimum of five years after the date of publication in the Illinois Data Bank. </p>

  <p>The Illinois Data Bank reserves the right to review Datasets five years after their initial publication date to
    determine whether to retain or Deaccession the Data File(s) and/or Metadata File(s). In certain cases of
    retention, preservation review decisions may also trigger preservation actions to ensure the ongoing usability of
    Data Files and/or Metadata Files.</p>

  <p>The Illinois Data Bank currently plans to retain Descriptive Metadata persistently for all Datasets deposited in
    the Illinois Data Bank regardless of the Disposition of Data File(s) and/or Metadata File(s), but the Illinois
    Data Bank reserves the right to a shorter retention period for Descriptive Metadata, but not shorter than the planned retention period,
    which is currently at five years. Details regarding the process for determining whether to retain Datasets beyond
    the five-year commitment period can be found in the
    <a href="#preservation_review">Illinois Data Bank Preservation Review, Revision, Retention, Deaccession, and
      Withdrawal Procedure</a> and the <a href="#preservation_guidelines">Preservation Review Guidelines</a>. </p>

  <p>The Illinois Data Bank shall:</p>
  <ul>
    <li><p><span class="nudge-left-12">&bull;</span> Provide or participate in a reliable preservation environment for published Datasets, where at least
      one of the Creators is affiliated with the University of Illinois at Urbana-Champaign, such as its faculty,
      academic staff, and graduate students.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Provide reliable and consistent access to published Datasets available through the service to
      Depositors, the larger research community, and the public according to the Illinois Data Bank policies.</p></li>
  </ul>
  <h3>Operating Principles</h3>

  <p>The Illinois Data Bank shall adhere to the following operating principles:</p>
  <ul>
    <li><p><span class="nudge-left-12">&bull;</span> Endeavor to model services after the Open Archival Information System (OAIS) Reference Model (<a
    href="http://public.ccsds.org/publications/archive/650x0m2.pdf"
    >http://public.ccsds.org/publications/archive/650x0m2.pdf</a>) for the long-term preservation and access of
      digital collections whenever possible.</p></li>
    <li>
      <p><span class="nudge-left-12">&bull;</span> Strive for compliance with emerging international standards for managing a reliable digital repository
        infrastructure. </p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Adhere to prevailing community standards for preserving access to Datasets whenever possible.</p>
    </li>
    <li><p><span class="nudge-left-12">&bull;</span> Participate in the development and implementation of standards.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Commit to an interoperable, scalable digital archive with appropriate storage management for
      Datasets.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Create policies, procedures, and practices that are clearly documented and consistent.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Strive to maintain hardware, software, and storage media containing archival content in keeping with
      prevailing best practices.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Strive to establish procedures that meet archival requirements, such as clearly documenting and
      maintaining provenance, chain of custody, authenticity, and integrity of Datasets.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> Comply with intellectual property, copyright, and ownership rights for all content.</p></li>
  </ul>
  <h3>Roles and Responsibilities</h3>

  <p>Development and management of preservation and access for the Illinois Data Bank is accomplished through the
    collaborative efforts of units at the University Library working in accessioning, curation, information
    technology, and systems administration capacities. These groups further work with the Office of the Vice
    Chancellor of Research, the National Center for Supercomputing Applications, and other groups as necessary to
    provide adequate managerial and infrastructure commitments to sustain the Illinois Data Bank. The Illinois Data
    Bank's preservation infrastructure is managed by the Library and its Medusa digital preservation repository (see
    below). </p>

  <h3>Preservation Strategies</h3>

  <p>Datasets deposited in the Illinois Data Bank utilize the back-end storage and management services within Medusa,
    the University of Illinois at Urbana-Champaign Library's digital preservation repository (<a
  href="https://medusa.library.illinois.edu/"
  >https://medusa.library.illinois.edu/</a>). Medusa provides a common storage and management infrastructure for
    digital collections of enduring value to the University. At present, Medusa's collecting focus is on digitized and
    "born digital" books, manuscripts, photographs, audiovisual materials, scholarly publications, and research data
    from the Library's special collections, general collections, and institutional repositories. The University
    Library manages Medusa storage in partnership with the National Center for Supercomputing Applications. Additional
    information about Digital Repository Medusa can be found at the Medusa's FAQs page (<a
  href="https://wiki.cites.illinois.edu/wiki/display/LibraryDigitalPreservation/Medusa+FAQ"
  >https://wiki.cites.illinois.edu/wiki/display/LibraryDigitalPreservation/Medusa+FAQ</a>).</p>
  <p>As is practical and necessary, preservation procedures may also include transformation of Data Files and/or
    Metadata Files into more stable formats and/or migration to successive formats. In the event one or more Data
    Files and/or Metadata Files in a Dataset are made available in a converted format, Research Data Service staff
    will document the conversion in the Dataset's associated Descriptive Metadata and/or Metadata File(s). See the
    Illinois Data Bank File Conversion Guidelines for more details about file conversion in the Illinois Data
    Bank.</p>

  <h3>Addressing Challenges</h3>

  <p>The Illinois Data Bank plans to address the challenges facing digital repositories as follows:</p>

  <ul>
    <li><p><span class="nudge-left-12">&bull;</span> <strong>Technological Change:</strong> By developing a sustainable digital preservation model that
      will respond to technological changes as needed without under- or over-estimating the costs imposed by these
      changes.</p></li>
    <li>
      <p><span class="nudge-left-12">&bull;</span> <strong>Sustainability:</strong> By developing a sustainable digital preservation model that will deal
        with the technical and management challenges of preserving digital content within the constraints of available
        funding.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> <strong>Defining Preservation Needs:</strong> By providing a thoughtful balance among many factors
      including access, functionality, and preservation, while being mindful that preservation is critical to enabling
      long-term access and use.</p></li>
    <li><p><span class="nudge-left-12">&bull;</span> <strong>Ongoing Monitoring of Submitted Material Types and Formats:</strong> By monitoring different
      needs of the deposited materials (e.g., storage size, file format usability) as different types of materials are
      deposited and maintaining procedures and guidance based on these needs as necessary.</p></li>
  </ul>
  <h3>Financial Sustainability</h3>

  <p>The University of Illinois at Urbana-Champaign makes a financial commitment toward the sustainable preservation
    of published Datasets through funding of the Research Data Service. </p>

  <h3>Technological Sustainability, Security, and Disaster Recovery</h3>

  <p>The University Library is committed to sustaining an effective digital preservation infrastructure for its
    digital collections, which includes the adequate provisioning of appropriate technologies. Planning for this
    infrastructure occurs within the Library's Repository group, in conjunction with Research Data Service staff. To
    minimize service interruption and content loss due to technical failure, the system is designed to eliminate
    single points of failure by providing redundant server components and replication; however, the Illinois Data Bank
    service is provided "as is."</p>
  <ul>
    <li>
      <p><span class="nudge-left-12">&bull;</span> <strong>Replication of Repository Content:</strong> Datasets deposited into the Illinois Data Bank are
        stored in a high-performance, clustered file system on a National Center for Supercomputing Applications
        storage service and replicated to a separate storage system across campus. </p></li>
    <li><p><span class="nudge-left-12">&bull;</span> <strong>Geographical Redundancy:</strong> To minimize loss due to catastrophic hardware failure or
      natural disaster, all repository content is regularly backed up to remote storage to ensure geographic
      redundancy and disaster recovery.</p></li>
    <li>
      <p><span class="nudge-left-12">&bull;</span> <strong>High Availability:</strong> The Library's repository services are designed to quickly recover
        from the failure of some of its components and to continue working to a level of satisfaction in the presence
        of hardware or software failure. </p></li>
  </ul>
  <h3>Acknowledgements</h3>
  <ul>
    <li><p>Illinois Digital Environment for Access to Learning and Scholarship (IDEALS).
      <em>IDEALS Digital Preservation Policy</em>. <a
    href="http://hdl.handle.net/2142/2383"
    >http://hdl.handle.net/2142/2383</a></p></li>
    <li><p>Data Repository for the U of M (DRUM). <em>DRUM Policies and Terms of Use, Preservation Policy</em>. <a
    href="https://conservancy.umn.edu/pages/drum/policies/"
    >https://conservancy.umn.edu/pages/drum/policies/</a></p></li>
    <li><p>Roper Center for Public Opinion Research.
      <em>Roper Center for Public Opinion Research Digital Preservation Policy</em>. <a
    href="https://web.archive.org/web/20160504194518/http://ropercenter.cornell.edu/digital-preservation-policy/"
    >http://ropercenter.cornell.edu/digital-preservation-policy/</a></p></li>
    <li><p>Inter-university Consortium for Political and Social Research (ICPSR).
      <em>ICPSR Digital Preservation Policy Framework</em>. <a
    href="https://web.archive.org/web/20160504194859/http://www.icpsr.umich.edu/icpsrweb/content/datamanagement/preservation/policies/dpp-framework.html"
    >http://www.icpsr.umich.edu/icpsrweb/content/datamanagement/preservation/policies/dpp-framework.html</a></p></li>
    <li><p>Purdue University Research Repository (PURR). <em>PURR Digital Preservation Policy</em>. <a
    href="https://web.archive.org/web/20150914005748/https://purr.purdue.edu/legal/digitalpreservation"
    >https://purr.purdue.edu/legal/digitalpreservation</a></p></li>
  </ul>
  <hr/>
  <p><a href="/help#contact">Contact Research Data Service staff</a> with questions or to request an addition or
    revision to this policy.</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th colspan="4" class="text-center table-title">
        Policy Document History and Version Control Table
      </th>
    </tr>
    <tr>
      <th>Version</th>
      <th>Action</th>
      <th>Approved By</th>
      <th>Action Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1.0</td>
      <td>Policy issued.</td>
      <td>Heidi Imker, Director, Research Data Service</td>
      <td>2016-05-03</td>
    </tr>
    <td>1.1</td>
    <td>Policy reviewed. Minor changes made:<br/>
      -Minor wording adjustments.<br/>
      -Versioning table added.
    </td>
    <td>Heidi Imker, Director, Research Data Service</td>
    <td>2016-10-05</td>
    <tr>
    </tbody>
  </table>
  <p>View past and current versions of this document in IDEALS: <a href="http://hdl.handle.net/2142/91039">http://hdl.handle.net/2142/91039</a>.</p>

</div>