<div class='bs-callout bs-callout-info idb-help' id="withdrawal_guidelines">
  <br/>
  <hr/>
  <h1>Illinois Data Bank Withdrawal Guidelines</h1>
  <hr/>

  <p>If a Creator of a Dataset finds that a file in their published Dataset contains an error, they must contact the
    Research Data Service staff. A new version of the entire Dataset will be created and a new DOI will be assigned.
    Research Data Service staff will see that the Descriptive Metadata associated with the Dataset makes apparent
    which version is correct and what changes occurred. </p>

  <p>If the above or any other scenario arises where the appropriateness of a Dataset is in question, Research Data
    Service staff will refer to the following principles when determining whether to remove the erroneous Dataset from
    public view:</p>
  <ul>
    <li><p>Persistent access to Datasets is important for completeness and continuity of the scholarly record.
      Therefore, whenever possible, we prefer to maintain access to published Datasets, which include the Descriptive
      Metadata and Data Files, and make existence to any new versions prominently displayed on Dataset pages. </p>
    </li>

    <li><p>However, in cases where the Descriptive Metadata and/or Data Files in question may pose a risk to the
      accuracy of future scholarship and/or are candidates for Withdrawal based on the
      <a href="#preservation_review">Illinois Data Bank Preservation Review, Retention, Deaccession, Revision, and
        Withdrawal Procedure</a>, we will consider removing access and/or deleting the Descriptive Metadata and/or
      Data Files in question from our systems. Deletion of Descriptive Metadata and/or Data Files will occur only in
      the most severe of circumstances, such as a situation where any level of retention of the Dataset could be a
      threat to national security. Such circumstances will likely require the involvement of a variety of
      administrative authorities at the Library and campus levels.</p></li>
  </ul>
  <hr/>
  <p><a href="/help#contact">Contact Research Data Service staff</a> with questions or to request an addition or
    revision to this policy.</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th colspan="4" class="text-center table-title">
        Guidelines Document History and Version Control Table
      </th>
    </tr>
    <tr>
      <th>Version</th>
      <th>Action</th>
      <th>Approved By</th>
      <th>Action Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1.0</td>
      <td>Guidelines issued.</td>
      <td>Heidi Imker, Director, Research Data Service</td>
      <td>2016-05-03</td>
    </tr>
    <td>1.1</td>
    <td>Guidelines reviewed. Minor change made:<br/>
      -Versioning table added.
    </td>
    <td>Heidi Imker, Director, Research Data Service</td>
    <td>2016-10-05</td>
    <tr>
    </tbody>
  </table>
  <p>View past and current versions of this document in IDEALS:
    <a href="http://hdl.handle.net/2142/91039">http://hdl.handle.net/2142/91039</a>.</p>
</div>